@charset "UTF-8";
@import url('//hello.myfonts.net/count/2c7b8f');
/* GLYPHS */
@font-face {
  font-family: 'NimbusSans';
  src: url('/fonts/nimbus-sans-bold-webfont.eot');
  src: url('/fonts/nimbus-sans-bold-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/nimbus-sans-bold-webfont.woff2') format('woff2'), url('/fonts/nimbus-sans-bold-webfont.woff') format('woff'), url('/fonts/nimbus-sans-bold-webfont.ttf') format('truetype'); }

@font-face {
  font-family: 'NimbusSansLight';
  src: url('/fonts/nimbus-sans-light-webfont.eot');
  src: url('/fonts/nimbus-sans-light-webfont.eot?#iefix') format('embedded-opentype'), url('/fonts/nimbus-sans-light-webfont.woff') format('woff'), url('/fonts/nimbus-sans-light-webfont.woff2') format('woff2'), url('/fonts/nimbus-sans-light-webfont.ttf') format('truetype'); }

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*!
Typeplate : Starter Kit
URL ........... http://typeplate.com
Version ....... 2.1.0
Github ........ https://github.com/typeplate/starter-kit
Authors ....... Dennis Gaebel (@gryghostvisuals) & Zachary Kain (@zakkain)
License ....... Creative Commmons Attribution 3.0
License URL ... https://github.com/typeplate/starter-kit/blob/master/license.txt
*/
@font-face {
  font-family: 'Ampersand';
  src: local('Georgia'), local('Garamond'), local('Palatino'), local('Book Antiqua');
  unicode-range: U26; }

@font-face {
  font-family: 'Ampersand';
  src: local('Georgia');
  unicode-range: U270C; }

.typl8-tera, .typl8-giga, .typl8-mega, h1, .typl8-alpha, h2, .typl8-beta, h3, .typl8-gamma, h4, .typl8-delta, h5, .typl8-epsilon, .typl8-zeta, h6 {
  text-rendering: optimizeLegibility;
  line-height: 1;
  margin-top: 0;
  color: #222; }

blockquote + figcaption cite {
  display: block;
  font-size: inherit;
  text-align: right; }

body {
  word-wrap: break-word; }

pre code {
  word-wrap: normal; }

html {
  font: normal 112.5%/1.65 serif; }

body {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-family: "NimbusSans", sans-serif; }

.typl8-tera {
  font-size: 117px;
  font-size: 6.5rem;
  margin-bottom: 70.90909px;
  margin-bottom: 3.93939rem; }

.typl8-giga {
  font-size: 90px;
  font-size: 5rem;
  margin-bottom: 54.54545px;
  margin-bottom: 3.0303rem; }

.typl8-mega, h1 {
  font-size: 72px;
  font-size: 4rem;
  margin-bottom: 43.63636px;
  margin-bottom: 2.42424rem; }

.typl8-alpha, h2 {
  font-size: 60px;
  font-size: 3.33333rem;
  margin-bottom: 36.36364px;
  margin-bottom: 2.0202rem; }

.typl8-beta, h3 {
  font-size: 48px;
  font-size: 2.66667rem;
  margin-bottom: 29.09091px;
  margin-bottom: 1.61616rem; }

.typl8-gamma, h4 {
  font-size: 36px;
  font-size: 2rem;
  margin-bottom: 21.81818px;
  margin-bottom: 1.21212rem; }

.typl8-delta, h5 {
  font-size: 24px;
  font-size: 1.33333rem;
  margin-bottom: 14.54545px;
  margin-bottom: 0.80808rem; }

.typl8-epsilon {
  font-size: 21px;
  font-size: 1.16667rem;
  margin-bottom: 12.72727px;
  margin-bottom: 0.70707rem; }

.typl8-zeta, h6 {
  font-size: 18px;
  font-size: 1rem;
  margin-bottom: 10.90909px;
  margin-bottom: 0.60606rem; }

p {
  margin: auto auto 1.5em; }

small {
  font-size: 65%; }

input, abbr, acronym, blockquote, code, kbd, q, samp, var {
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre {
  white-space: pre; }
  pre code {
    white-space: -moz- pre-wrap;
    white-space: pre-wrap; }

code {
  white-space: pre;
  font-family: monospace; }

abbr {
  -webkit-font-variant: small-caps;
  -moz-font-variant: small-caps;
  -ms-font-variant: small-caps;
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
  color: gray; }
  abbr[title]:hover {
    cursor: help; }

.typl8-drop-cap:first-letter {
  float: left;
  margin: 10px 10px 0 0;
  padding: 0 20px;
  font-size: 4em;
  font-family: inherit;
  line-height: 1;
  text-indent: 0;
  background: transparent;
  color: inherit; }

p + .typl8-drop-cap {
  text-indent: 0;
  margin-top: 0; }

/**
 * Lining Definition Style Markup
 *
  <dl class="typl8-lining">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-lining dt, .typl8-lining dd {
  display: inline;
  margin: 0; }
.typl8-lining dt + dt:before, .typl8-lining dd + dt:before {
  content: "\A";
  white-space: pre; }
.typl8-lining dd + dd:before {
  content: ", "; }
.typl8-lining dd:before {
  content: ": ";
  margin-left: -0.2rem; }

/**
 * Dictionary Definition Style Markup
 *
  <dl class="typl8-dictionary-style">
    <dt><b></b></dt>
    <dd></dd>
  </dl>
 *
 * Extend this object into your markup.
 *
 */
.typl8-dictionary-style dt {
  display: inline;
  counter-reset: definitions; }
  .typl8-dictionary-style dt + dt:before {
    content: ", ";
    margin-left: -0.2rem; }
.typl8-dictionary-style dd {
  display: block;
  counter-increment: definitions; }
  .typl8-dictionary-style dd:before {
    content: counter(definitions, decimal) ". "; }

/**
 * Blockquote Markup
 *
    <figure>
      <blockquote cite="">
        <p></p>
      </blockquote>
      <figcaption>
        <cite>
          <small><a href=""></a></small>
        </cite>
      </figcaption>
    </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Pull Quotes Markup
 *
  <aside class="typl8-pull-quote">
    <blockquote>
      <p></p>
    </blockquote>
  </aside>
 *
 * Extend this object into your custom stylesheet.
 *
 */
.typl8-pull-quote {
  position: relative;
  padding: 1em; }
  .typl8-pull-quote:before, .typl8-pull-quote:after {
    height: 1em;
    opacity: 0.5;
    position: absolute;
    font-size: 4em;
    color: #dc976e; }
  .typl8-pull-quote:before {
    content: '“';
    top: 0;
    left: 0; }
  .typl8-pull-quote:after {
    content: '”';
    bottom: 0;
    right: 0; }

/**
 * Figures Markup
 *
  <figure>
    <figcaption>
      <strong>Fig. X.X | </strong><cite title=""></cite>
    </figcaption>
  </figure>
 *
 * Extend this object into your markup.
 *
 */
/**
 * Footnote Markup : Replace 'X' with your unique number for each footnote
 *
  <article>
    <p><sup><a href="#fn-itemX" id="fn-returnX"></a></sup></p>
    <footer>
      <ol class="foot-notes">
        <li id="fn-itemX"><a href="#fn-returnX">↩</a></li>
      </ol>
    </footer>
  </article>
 *
 * Extend this object into your markup.
 *
 */
* {
  box-sizing: border-box; }

@media only screen and (max-width: 568px) {
  html {
    font-size: 90%; } }

body {
  font-family: "NimbusSansLight", sans-serif;
  background-color: black; }

a {
  text-decoration: none; }

.wrapper {
  max-width: 1000px;
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.login-item {
  position: absolute;
  top: 120vh;
  left: 50%;
  text-align: center; }
  .login-item .legal-link {
    color: #f42045;
    font-size: .8rem; }
    .login-item .legal-link:first-of-type {
      margin-right: 10px; }

.login-section {
  width: 200px;
  height: 200px; }
  .login-section .front {
    background-color: black; }
    .login-section .front a {
      padding: 30px; }
  .login-section .back {
    background-color: white; }
  .login-section .card-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.social-login {
  padding: 1rem 0rem;
  background-color: white; }

.card {
  position: relative;
  overflow: hidden;
  -webkit-perspective: 2000;
          perspective: 2000; }
  @media only screen and (max-width: 568px) {
    .card {
      overflow: visible; } }
  .card .card-flipper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
    .card .card-flipper.blown-up .front .card-content {
      opacity: 0; }
  .card .card-side {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden; }
    .card .card-side.front {
      z-index: 2;
      -webkit-transform: rotateY(0deg);
              transform: rotateY(0deg); }
    .card .card-side.back {
      z-index: 1;
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg); }

.modal-content {
  padding: 1rem; }
  @media only screen and (max-width: 568px) {
    .modal-content {
      width: 90%; } }

.mobile-only {
  display: none; }
  @media only screen and (max-width: 568px) {
    .mobile-only {
      display: block; } }

.underlined {
  text-decoration: underline; }

.strong {
  font-weight: 700; }

.loading-text {
  color: white; }

.loading-wrapper {
  position: fixed;
  left: 50%;
  top: 90%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  text-align: center;
  background-color: black;
  padding: 2rem;
  opacity: 0; }
  .loading-wrapper .emoji {
    -webkit-transition: opacity 300ms ease-out;
            transition: opacity 300ms ease-out; }
    .loading-wrapper .emoji.off-page {
      opacity: 0; }

.page {
  position: relative;
  opacity: 0;
  min-height: 100vh;
  padding-top: 90px;
  padding-bottom: 50px;
  overflow: hidden; }
  .page.with-header {
    padding-top: 40px; }
  @media only screen and (max-width: 568px) {
    .page {
      padding: 55px 5px 30px 5px; } }

.dark-page {
  background-color: black; }

.lobby-page {
  background-color: black;
  opacity: 1; }

.movie-page {
  background-color: black; }
  .movie-page .page-content {
    position: relative;
    width: 100%;
    height: 100%; }
    .movie-page .page-content .wrapper {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      @media only screen and (max-width: 568px) {
        .movie-page .page-content .wrapper {
          max-width: 90%; } }

.page-header {
  width: 100%;
  min-height: 80vh;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: black;
  position: absolute;
  top: 35px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  @media only screen and (max-width: 568px) {
    .page-header {
      top: 40px;
      background-size: contain;
      background-position: top center; } }

.page-title {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1rem; }
  .page-title span {
    display: block;
    color: white;
    -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
    outline: 10px solid transparent;
    margin-bottom: 10px; }
  .page-title .movie-author {
    padding: 0;
    font-size: 2rem;
    color: #f42045; }
  .page-title.contentEditable span {
    background-color: white;
    color: black;
    outline-color: #f42045; }
  @media only screen and (max-width: 568px) {
    .page-title span {
      font-size: 2.2rem; }
    .page-title .movie-author {
      font-size: 1.4rem; } }

.page-section {
  padding: 1rem 0rem; }
  .page-section.main-section {
    padding: 3rem;
    min-height: 80vh; }
    .page-section.main-section .wrapper {
      max-width: 600px; }
    @media only screen and (max-width: 568px) {
      .page-section.main-section {
        padding: 3rem 1rem;
        min-height: 30vh; } }
  .page-section .section-heading {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 100;
    border-bottom: 1px solid white; }

.output {
  position: relative;
  padding: 2rem 2rem 1.5rem 2rem;
  background-color: white;
  margin-bottom: 1rem;
  display: inline-block;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
  .output .emojione {
    margin-bottom: 8px; }

.page-actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.about-content {
  background-color: white;
  padding: 1rem; }
  .about-content a {
    color: #f42045; }

.header {
  -webkit-transform-origin: top center;
      -ms-transform-origin: top center;
          transform-origin: top center;
  position: fixed;
  opacity: 0;
  top: 0;
  width: 100vw;
  background-color: white;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: white;
  height: 35px; }
  @media only screen and (max-width: 568px) {
    .header {
      height: 40px; } }
  .header .create-move-btn {
    position: absolute;
    right: 60px;
    top: 5px; }

.logo {
  position: relative;
  height: 35px;
  float: left; }
  .logo.mobile-only {
    height: 30px;
    float: none;
    position: absolute;
    left: 50%;
    top: 5px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.donut-toggle {
  cursor: pointer; }
  .donut-toggle.top {
    top: 13px; }
  .donut-toggle .bar {
    position: relative;
    width: 25px;
    background-color: black;
    height: 2px;
    margin-bottom: 4px;
    border-radius: 1px;
    -webkit-transition: background 600ms ease-out;
            transition: background 600ms ease-out; }
  .donut-toggle.active .bar {
    background-color: white; }

.back-toggle .bar-1, .back-toggle .bar-3 {
  width: 10px; }
.back-toggle .bar-1 {
  top: 3px;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg); }
.back-toggle .bar-3 {
  top: -3px;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }

.menu-toggle.left-toggle {
  left: 20px; }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding: .5rem; }

.footer-link {
  color: white;
  padding: .5rem;
  float: right;
  margin-left: 5px; }

.app-menu {
  padding-top: 60px; }

.menu-item {
  width: 100%; }
  .menu-item a {
    background-color: black;
    color: white;
    display: block;
    padding: .5rem;
    margin-bottom: 3px;
    font-weight: 900; }
  .menu-item.menu-item__logout a {
    background-color: #f42045; }

@media only screen and (max-width: 568px) {
  .desktop-nav {
    display: none; } }
.desktop-nav .account-toggle {
  color: #f42045;
  float: right;
  margin-right: 30px;
  padding: .5rem; }
.desktop-nav .menu-items {
  float: right; }
.desktop-nav .menu-item {
  width: auto;
  display: inline-block; }
  .desktop-nav .menu-item a {
    background-color: transparent;
    color: black; }
  .desktop-nav .menu-item.menu-item__logout {
    float: right; }
    .desktop-nav .menu-item.menu-item__logout a {
      background-color: transparent;
      color: #f42045; }

.account-nav {
  position: absolute;
  height: 40px;
  width: 100%;
  top: -40px;
  left: 0;
  background-color: #f42045; }
  .account-nav .menu-items {
    text-align: right;
    padding-right: 30px; }
    .account-nav .menu-items a {
      color: white; }

.shelf {
  background-color: black;
  border-left: 5px solid white; }

.btn {
  border: 0;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 1px;
  font-family: "NimbusSans", sans-serif;
  padding: .25rem .5rem; }

.account-btn {
  display: block;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  font-family: "NimbusSans", sans-serif;
  font-weight: 700;
  letter-spacing: 1px; }

.submit-btn {
  border: 3px solid black;
  background-color: white;
  color: black; }
  @media only screen and (max-width: 568px) {
    .submit-btn {
      background: none; } }

.primary-btn, .submit-btn {
  font-size: 1.2rem;
  padding: .5rem 1rem; }

.pink-btn {
  border: 3px solid #f42045;
  background-color: #f42045;
  color: white; }

.white-btn {
  background-color: white;
  color: black; }

.center-btn {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.flip-toggle {
  position: absolute;
  top: 0;
  right: .75rem;
  height: 32px;
  width: 32px; }
  .flip-toggle .bar {
    top: 8px;
    left: 15px;
    width: 2px;
    height: 16px;
    background-color: white;
    position: absolute;
    -webkit-transform-origin: center left;
        -ms-transform-origin: center left;
            transform-origin: center left; }
    .flip-toggle .bar.bar-1 {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .flip-toggle .bar.bar-2 {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }

.social-login-btn {
  font-size: 1.2rem;
  padding: 5px 10px; }

.edit-mode-btn {
  background-color: #f42045;
  display: block;
  height: 35px;
  line-height: 1rem; }

.refresh-gif-btn {
  background-color: #f42045;
  float: right; }

.show-more-btn {
  opacity: 0;
  pointer-events: none; }

.favorite-btn {
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 50px;
  padding-right: 0px 15px 0px 5px;
  border-radius: 0; }
  @media only screen and (max-width: 568px) {
    .favorite-btn {
      width: 30px; } }
  .favorite-btn polygon {
    -webkit-transition: all 300ms ease-out;
            transition: all 300ms ease-out;
    fill: grey; }
  .favorite-btn:hover polygon {
    fill: rgba(244, 32, 69, 0.5); }
  .favorite-btn.favorited polygon {
    fill: #f42045; }
  .favorite-btn.social-btn {
    position: relative;
    background-color: #bfbfbf;
    width: inherit; }
    .favorite-btn.social-btn polygon {
      fill: white; }
    .favorite-btn.social-btn:hover polygon {
      fill: black; }
    .favorite-btn.social-btn.favorited {
      background-color: #f42045; }
      .favorite-btn.social-btn.favorited polygon {
        fill: white; }

.social-btn {
  display: inline-block;
  margin-right: .5rem;
  height: 35px;
  width: 35px;
  padding-top: 7px; }
  .social-btn.tweet-btn {
    background-color: #55acee; }
  .social-btn.facebook-btn {
    background-color: #3a5795; }

form.padded {
  padding: .5rem; }
form.tight {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto; }
@media only screen and (max-width: 568px) {
  form.tight {
    max-width: 95%; } }

label {
  display: block;
  text-align: left;
  font-size: .8rem; }

.form-title {
  margin: 1rem 0 0 0;
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: uppercase; }

.form-control {
  padding: .25rem;
  position: relative;
  width: 100%; }

.field {
  border: 0px;
  background-color: black;
  font-size: .9rem;
  line-height: 1.3rem;
  color: white;
  padding: .5rem .5rem .25rem .5rem;
  width: 100%;
  font-family: "NimbusSansLight", sans-serif; }
  .field::-webkit-input-placeholder {
    color: white; }
  .field::-moz-placeholder {
    color: white; }
  .field:-ms-input-placeholder {
    color: white; }
  .field::placeholder {
    color: white; }
  .field:focus {
    outline: none; }

.synopsis-form {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white; }
  .synopsis-form .form-control {
    padding: 0;
    margin-bottom: 1rem; }
  .synopsis-form label {
    margin-bottom: 5px; }

.dropdown-menu {
  border: 0; }
  .dropdown-menu li {
    border: 0;
    padding: .25rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
    border-bottom: 1px solid #e6e6e6; }
    .dropdown-menu li a {
      display: block;
      height: 100%;
      font-family: "NimbusSansLight", sans-serif; }
      .dropdown-menu li a img {
        height: 100%;
        margin: 0; }
  @media only screen and (max-width: 568px) {
    .dropdown-menu {
      left: 0 !important;
      width: 100%;
      bottom: 10px !important;
      top: initial !important;
      overflow-x: auto;
      white-space: nowrap;
      padding-bottom: .5rem; }
      .dropdown-menu li {
        display: inline-block;
        border-bottom: 0;
        border-right: 1px solid #e6e6e6;
        border-bottom: 1px solid #e6e6e6; } }

.dashboard-block {
  margin-top: 2rem; }

.dashboard-username {
  text-transform: uppercase;
  margin-bottom: .5rem; }

.dashboard-links li {
  display: inline-block; }
  .dashboard-links li a {
    display: block; }

.alert-error {
  background-color: #f42045;
  padding: 1rem;
  text-align: center; }
  .alert-error.success {
    background-color: #769e4b; }

.hidden-item {
  opacity: 0; }

.inline-item {
  display: inline-block; }

.movie-list {
  margin-top: 1rem;
  padding-bottom: 2rem; }

.movie-item {
  margin-bottom: 5px;
  position: relative;
  z-index: 1;
  height: 60px;
  overflow: visible !important;
  cursor: pointer; }
  .movie-item:hover .front {
    background-color: #f2f2f2; }
  .movie-item:hover .favorite-btn {
    opacity: 1; }
  .movie-item.with-user .movie-title, .movie-item.with-user .movie-author {
    padding: 0rem 1rem 0rem 50px; }
  .movie-item .front {
    -webkit-transition: background-color 300ms ease-out;
            transition: background-color 300ms ease-out;
    background: white; }
  .movie-item .back {
    background: white; }
  .movie-item .card-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }
  @media only screen and (max-width: 568px) {
    .movie-item {
      height: 50px; }
      .movie-item.with-user .movie-title, .movie-item.with-user .movie-author {
        padding: 0rem 1rem 0rem 35px; } }

.movie-title {
  font-family: "NimbusSans", sans-serif;
  font-size: 1.6rem;
  font-weight: 100;
  margin: 0;
  color: black;
  padding: 0rem 1rem;
  cursor: pointer;
  display: block;
  -webkit-transition: padding 100ms ease-out;
          transition: padding 100ms ease-out; }
  @media only screen and (max-width: 568px) {
    .movie-title {
      font-size: 1.2rem; } }

.movie-author {
  font-size: .8rem;
  display: block;
  padding: 0rem 1rem;
  -webkit-transition: padding 100ms ease-out;
          transition: padding 100ms ease-out;
  color: #f42045; }

.movie-synopsis {
  font-size: .9rem;
  line-height: 0rem;
  -webkit-box-flex: 5;
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
  white-space: nowrap;
  overflow-x: auto;
  padding: 5px;
  padding: 1rem .5rem;
  -webkit-backface-visibility: visible;
          backface-visibility: visible; }
  @media only screen and (max-width: 568px) {
    .movie-synopsis {
      font-size: 1rem; } }

.movie-date {
  height: 100%;
  font-size: 1.2rem;
  line-height: 1.7rem;
  font-weight: 700;
  font-family: "NimbusSans", sans-serif;
  margin: 0;
  padding: 1rem;
  border-left: 2px solid #f42045;
  color: black;
  text-align: center;
  background-color: white; }

.favorite-item {
  background-color: #f42045;
  margin-bottom: 5px;
  position: relative;
  display: inline-block; }
  .favorite-item a {
    padding: .5rem;
    display: block;
    width: 100%;
    height: 100%;
    color: white; }

.favorite-count {
  position: absolute;
  top: 0;
  left: 0;
  font-size: .9rem;
  color: #f42045;
  background-color: white;
  padding: 0px 3px; }

.social-icon {
  width: 21px;
  height: 21px; }
  .social-icon path {
    fill: white; }

.star-icon {
  width: 21px;
  height: 21px; }

.errors {
  z-index: 999; }

.modal {
  z-index: 900; }

.header, .footer {
  z-index: 900; }

.loading-wrapper {
  z-index: 300; }

.movie-list {
  z-index: 200; }

.page {
  z-index: 100; }
