.hidden-item{
	opacity: 0;
}

.movie-list{
	margin-top: 2rem;
}

.movie-item{
	margin-bottom: 5px;
	position: relative;
	z-index: 1;
	cursor: pointer;
	height: 60px;

	.front{
		background: white;
	}

	.back{
		background: white;
	}

	.card-content{
		display: flex;
		align-items: center;
	}
}

.movie-title{
	font-family: $heading;
	font-size: 1.6rem;
	font-weight: 100;
	margin: 0;
	flex: 7;
	color: black;
	padding: 1rem;
}

.movie-synopsis{
	font-size: .9rem;
	line-height: 0rem;
}

.movie-date{
	height: 100%;
	flex: 1;
	font-size: 1rem;
	line-height: 1.7rem;
	font-weight: 400;
	margin: 0;
	padding: 1rem;
	background-color: white;
	border-left: 2px solid $pink;
	color: black;
	text-align: center;
}