<template name="movieItem">
	<div class="card-flipper">
		<div class="front card-side">
			{{#if currentUser}}
				<button class="btn favorite-btn {{favorited}}">{{>starIcon}}</button>
			{{/if}}
			<div class="card-content">
				<div class="content-section">
					<a class="movie-title" href="/movies/{{this._id}}">{{this.title}}</a>
					{{#unless userPage}}
						<a href="/{{authorName}}" class="movie-author">by {{authorName}}</a>
					{{/unless}}
				</div>

				<span class="movie-synopsis">{{{synopsis}}}</span>
				<span class="movie-date">{{createdOn}}</span>
			</div>
		</div>

		<div class="back card-side">
			<div class="card-content">
			
			</div>
		</div>
	</div>
</template>