<template name="movieSingle">
	{{#page pageOptions}}
		{{#if Template.subscriptionsReady}}
			<div class="page-header" style="background-image: url('{{image}}');">
				<div class="page-content">
					<div class="wrapper">
						<h1 class="page-title {{editable}}"><span {{editable}}>{{title}}</span></h1>
						<div class="output">{{{synopsis}}}
						</div>

						{{#if isAuthor}}
							{{#if editMode}}
								{{> movieSynopsisForm}}
							{{else}}
								<button class="btn primary-btn center-btn edit-mode-btn">Edit</button>
							{{/if}}
						{{/if}}
					</div>
				</div>
			</div>
		{{/if}}
	{{/page}}
</template>