<template name="movieSingle">
	{{#page pageOptions}}
		<div class="page-header">
			<div class="wrapper">
				<h1 class="page-title {{editable}}"><span {{editable}}>{{title}}</span></h1>
			</div>
		</div>

		<div class="page-content">
			<div class="wrapper">
				{{#if isAuthor}}
					{{#if editMode}}
						{{> movieSynopsisForm}}
					{{else}}
						<button class="btn primary-btn center-btn edit-mode-btn">Edit Moviemoji</button>
					{{/if}}
				{{/if}}

				<div class="output">{{{synopsis}}}
				</div>
			</div>
		</div>
	{{/page}}
</template>