<template name="header">
	{{#donutHeader headerOptions}}
		{{!-- <button class="create-move-btn white-btn primary-btn btn modal-trigger" data-modal="newMovieForm">+</button> --}}

		{{> desktopNav}}

		{{>logo classes="mobile-only"}}
	
		{{#donutToggle classes="menu-toggle top mobile-only" side="right" state='toggleShelfState' target='.right-shelf'}}
			<div class="bar bar-1"></div>
			<div class="bar bar-2"></div>
			<div class="bar bar-3"></div>
		{{/donutToggle}}

		{{#donutToggle classes="back-toggle top mobile-only" side="left" state='goBack'}}
			<div class="bar bar-1"></div>
			<div class="bar bar-2"></div>
			<div class="bar bar-3"></div>
		{{/donutToggle}}


	{{/donutHeader}}
</template>