*{
	box-sizing: border-box;
}

body{
	font-family: $copy;
}

a{
	text-decoration: none;
}

.application{
	perspective: 2000;
}

.wrapper{
	max-width: 1000px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.login-item{
	position: absolute;
	top: 120vh;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	text-align: center;
	backface-visibility: hidden;
}

.login-section{
	width: 200px;
	height: 200px;

	.front{
		background-color: black;

		a{
			padding: 30px;
		}
	}

	.back{
		background-color: white;
	}

	.card-content{
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}
}

.card{
	position: relative;
	overflow: hidden;
	perspective: 2000;


	.card-flipper{
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;

		&.blown-up{
			.front{
				.card-content{
					opacity: 0;
				}
			}
		}
	}

	.card-side{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		backface-visibility: hidden;

		&.front{
			z-index: 2;
			transform: rotateY(0deg);
		}

		&.back{
			z-index: 1;
			transform: rotateY(180deg);
		}
	}
}

.lobby-page{
	background-color: white;
}

.fold-out-container{
	width: 100%;
	max-height: 0px;
	overflow: hidden;
	background-color: darken(white, 10%);
	transform-origin: top center;
	transition: all 300ms ease-out;
	position: relative;
	transform: rotateX(-90deg);
	margin-top: 250px;



	.fold-out-content{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;

		transform: rotateX(-90deg);
		transition: all 300ms ease-out 0ms;
		transform-origin: top center;
		backface-visibility: hidden;
	}

	&.active{
		margin-top: 50px;
		transform: rotateX(0deg);
		padding: 100px 0px;
		max-height: 200px;

		&:before, &:after{
			background-color: transparent;
			transform: rotateX(0deg);
		}

		.fold-out-content{
			transform: rotateX(0deg);
		}
	}
}

.fold-out-content{

}