.btn{
	border: 0;
	background-color: black;
	color: white;
	cursor: pointer;
	border-radius: 1px;
	font-family: $heading;
	padding: .25rem .5rem;
}

.account-btn{
	display: block;
	text-transform: uppercase;
	color: white;
	font-size: 2rem;
	font-family: $heading;
	font-weight: 700;
	letter-spacing: 1px;
}

.submit-btn{
	@extend .primary-btn;
	border: 3px solid black;
	background-color: white;
	color: black;

	@media #{$mobile}{
		background: none;
	}
}

.primary-btn{
	font-size: 1.2rem;
	padding: .5rem 1rem;
}

.pink-btn{
	border: 3px solid $pink;
	background-color: $pink;
	color: white;
}

.white-btn{
	background-color: white;
	color: black;
}

.center-btn{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.flip-toggle{
	position: absolute;
	top: 0;
	right: .75rem;
	height: 32px;
	width: 32px;

	.bar{
		top: 8px;
		left: 15px;
		width: 2px;
		height: 16px;
		background-color: white;
		position: absolute;
		transform-origin: center left;

		&.bar-1{
			transform: rotate(-45deg);
		}

		&.bar-2{
			transform: rotate(45deg);
		}
	}
}

.social-login-btn{
	font-size: 1.2rem;
	padding: 5px 10px;
}

.edit-mode-btn{
	background-color: $pink;
	display: block;
}

.refresh-gif-btn{
	background-color: $pink;
	float: right;
}

.show-more-btn{
	opacity: 0;
	pointer-events: none;
}

.favorite-btn{
	position: absolute;
	background-color: transparent;
	height: 100%;
	width: 50px;
	padding-right: 0px 15px 0px 5px;
	border-radius: 0;

	@media #{$mobile}{
		width: 30px;
	}

	polygon{
		transition: all 300ms ease-out;
		fill: grey;
	}

	&:hover{
		polygon{
			fill: fade-out($pink, .5);
		}
	}

	&.favorited{
		polygon{
			fill: $pink;
		}
	}

	&.social-btn{
		position: relative;
		background-color: darken(white, 25%);
		width: inherit;
		padding: .4rem .75rem;

		polygon{
			fill: white;
		}

		&:hover{
			polygon{
				fill: black;
			}
		}

		&.favorited{
			background-color: $pink;
			polygon{
				fill: white;
			}
		}
	}
}

.social-btn{
	display: inline-block;
	margin-right: .5rem;
	padding: .4rem .75rem;

	&.tweet-btn{
		background-color: $twitterBlue;
	}

	&.facebook-btn{
		background-color: $facebookBlue;
	}
}