.header{
	transform-origin: top center;
	position: fixed;
	opacity: 0;
	top: 0;
	width: 100vw;
	background-color: white;
	backface-visibility: hidden;
	background-color: white;

	@media #{$mobile}{
		height: 60px;
	}

	.create-move-btn{
		position: absolute;
		right: 60px;
		top: 5px;
	}
}

.donut-toggle{
	cursor: pointer;

	&.top{
		top: 23px;
	}

	.bar{
		position: relative;
		width: 25px;
		background-color: black;
		height: 2px;
		margin-bottom: 4px;
		border-radius: 1px;
		transition: background 600ms ease-out;
	}

	&.active{
		.bar{
			background-color: black;
		}
	}
}

.back-toggle{

	.bar-1, .bar-3{
		width: 10px;
	}

	.bar-1{
		top: 3px;
		transform: rotate(-30deg);	
	}

	.bar-3{
		top: -3px;
		transform: rotate(30deg);	
	}
}

.menu-toggle{

	&.left-toggle{
		left: 20px;

	}
}