.dropdown-menu{
	border: 0;
	li{
		border: 0;
		padding: .25rem;
		display: flex;
		align-items: center;
		height: 30px;
		border-bottom: 1px solid darken(white, 10%);

		a{
			display: block;
			height: 100%;
			font-family: $copy;

			img{
				height: 100%;
				margin: 0;
			}
		}
	}

	@media #{$mobile}{
		left: 0 !important;
		width: 100%;
		bottom: 10px !important;
		top: initial !important;
		overflow-x: auto;
		white-space: nowrap;
		padding-bottom: .5rem;

		li{
			display: inline-block;
			border-bottom: 0;
			border-right: 1px solid darken(white, 10%);
			border-bottom: 1px solid darken(white, 10%);
		}
	}
}