.app-menu{
	margin-top: 60px;
}
.menu-item{
	width: 100%;
	a{
		background-color: black;
		color: white;
		display: block;
		padding: .5rem;
		margin-bottom: 3px;

	}

	&.menu-item__logout{
		a{
			background-color: $pink;
		}
	}
}