.page{
	padding-top: 90px;
	&.with-header{
		padding-top: 60px;
	}
}

.lobby-page{
	background-color: black;
	opacity: 1;
}

.movie-page{
	.page-content{
		position: absolute;
		width: 100%;
		top: 50%;
		left: 50%;
		transform: translateY(-50%) translateX(-50%);

		.wrapper{
			max-width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.page-header{
	height: 100vh;
	width: 100vw;
	padding: 1rem;
	background-size: cover;
	background-position: center center;
	background-color: black;
	position: absolute;
	top: 0;
	left: 0;
	overflow: auto;
}

.page-title{
	text-align: center;
	span{
		background-color: fade-out(black, .3);
		padding: 1rem;
		color: white;
		transition: all 300ms ease-out;
		outline: 10px solid transparent;
	}

	&.contentEditable{
		span{
			background-color: white;
			color: black;
			outline-color: $pink;
		}
	}
}

.page-content{
	padding: 2rem 0rem;
}

.output{
	position: relative;
	padding: 1rem 1rem .5rem 1rem;
	background-color: white;
	margin-bottom: 1rem;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);

	.emojione{
		margin-bottom: 8px;
	}
}