.page{
	position: relative;
	opacity: 0;
	min-height: 100vh;
	padding-top: 90px;
	overflow: hidden;

	&.with-header{
		padding-top: 40px;
	}

	@media #{$mobile}{
		padding-top: 60px;
	}
}

.dark-page{
	background-color: black;
}

.lobby-page{
	background-color: black;
	opacity: 1;
}

.movie-page{
	background-color: black;
	.page-content{
		position: relative;
		width: 100%;
		height: 100%;

		.wrapper{
			width: 90%;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;

			@media #{$mobile}{
				max-width: 90%;
			}
		}
	}
}

.page-header{
	width: 100%;
	min-height: 80vh;
	padding: 1rem;
	background-size: cover;
	background-position: center center;
	background-color: black;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.page-title{
	text-align: center;
	background-color: fade-out(black, .3);
	padding: 1rem;
	
	span{
		display: block;
		color: white;
		transition: all 300ms ease-out;
		outline: 10px solid transparent;
		margin-bottom: 10px;
	}

	.movie-author{
		padding: 0;
		font-size: 2rem;
		color: $pink;
	}

	&.contentEditable{
		span{
			background-color: white;
			color: black;
			outline-color: $pink;
		}
	}
}

.page-content{
	padding: 2rem 0rem;
}

.page-section{
	padding: 1rem 0rem;

	.section-heading{
		text-transform: uppercase;
		margin-bottom: 1rem;
		font-size: 1.3rem;
		color: white;
		font-weight: 100;
		border-bottom: 1px solid white;
	}
}

.output{
	position: relative;
	padding: 2rem 2rem 1.5rem 2rem;
	background-color: white;
	margin-bottom: 1rem;
	display: inline-block;
	left: 50%;
	transform: translateX(-50%);

	.emojione{
		margin-bottom: 8px;
	}
}

.page-actions{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
}