<template name="helpModal">
	{{#donutModal modalOptions}}
		<p>Moviemoji uses shortcodes to add Emoji, and it couldn't be easier. Shortcodes are simply the name of an emoji wrapped in colons. This is what a shortcode looks like:</p>

		<p><span class="underlined strong">:cry:</span></p>

		<p>Simply start by typing a colon (:) into the field followed by the name of an emoji. Moviemoji will populate an autocomplete dropdown to assist in your search for emoji. Complete the shortcode by closing it with another colon and the emoji will show up automatically in the output section.</p> 
	{{/donutModal}}
</template>