<template name="loginForm">
	<h3 class="form-title">Login</h3>
	<form name="login-form" class="login-form padded">
		<div class="form-control">
			<input type="text" name="username" placeholder="Username" class="field">
		</div>

		<div class="form-control">
			<label>Password</label>
			<input type="password" name="password" class="field">
		</div>

		<div class="form-control">
			<input type="submit" class="submit-btn btn" value="Login">
		</div>
	</form>

	<div class="social-login">
		<button class="twitter-login-btn social-login-btn btn">Twitter</button>
		<button class="facebook-login-btn social-login-btn btn">Facebook</button>
	</div>
</template>