<template name="dashboard">
	{{#page pageOptions}}
		<div class="wrapper clearfix">	
			<button class="btn center-btn primary-btn pink-btn modal-trigger" data-modal="newMovieForm">Create New Moviemoji</button>		
			<div class="user-movies dashboard-block">
				<span class="block-title">Your Moviemoji</span>
				
				{{#unless Template.subscriptionsReady}}	
					{{> loading}}
				{{/unless}}

				{{#if userMovies.count}}
					{{> userMoviemojiList userMovies}}
				{{else}}
					<p>You haven't created any Moviemoji {{#emojione}}:cry:{{/emojione}} </p>
				{{/if}}
			</div>
		</div>
	{{/page}}
</template>