/* GLYPHS */

// ANDALE MONO
@import url('//hello.myfonts.net/count/2c7b8f');

@font-face {
	font-family: 'NimbusSans';
	src: url('/fonts/nimbus-sans-bold-webfont.eot');
	src: url('/fonts/nimbus-sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/nimbus-sans-bold-webfont.woff2') format('woff2'),
		 url('/fonts/nimbus-sans-bold-webfont.woff') format('woff'),
		 url('/fonts/nimbus-sans-bold-webfont.ttf') format('truetype');
}

@font-face {
	font-family: 'NimbusSansLight';
	src: url('/fonts/nimbus-sans-light-webfont.eot');
	src: url('/fonts/nimbus-sans-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/nimbus-sans-light-webfont.woff') format('woff'),
		 url('/fonts/nimbus-sans-light-webfont.woff2') format('woff2'),
		 url('/fonts/nimbus-sans-light-webfont.ttf') format('truetype');
}


// // NEUE HAAS GROTESK
// @import url('//fast.fonts.net/lt/1.css?apiType=css&c=1cb7c838-f674-40c4-9211-534b72eb5c0d&fontids=1261916,1261925');

// @font-face {
// 	font-family: 'NeueHaas';
// 	src: url('../../fonts/26e8787f-b766-40a2-89cd-6704b685556c.eot?#iefix');
// 	src: url('../../fonts/26e8787f-b766-40a2-89cd-6704b685556c.eot?#iefix') format('embedded-opentype'),
// 		 url('../../fonts/9bfe6c87-a6dc-43ab-9797-ff3c656e65f0.woff') format('woff'),
// 		 url('../../fonts/7ffb4e86-8168-4443-8402-3d34c04ac3b8.ttf') format('truetype'),
// 		 url('../../fonts/26a2f4e1-8cc9-4c98-a162-e70947f49089.svg#26a2f4e1-8cc9-4c98-a162-e70947f49089') format('svg');
// }
// @font-face {
// 	font-family: 'NeueHaasBold';
// 	src: url('../../fonts/04bf4d36-29b4-4a27-9bbb-ff0911065da1.eot?#iefix');
// 	src: url('../../fonts/04bf4d36-29b4-4a27-9bbb-ff0911065da1.eot?#iefix') format('embedded-opentype'),
// 		 url('../../fonts/33f83215-09d4-4492-b362-a7cb31ab629c.woff') format('woff'),
// 		 url('../../fonts/4f4667a1-ac2c-4561-8790-4a6fb0ab82d6.ttf') format('truetype'),
// 		 url('../../fonts/3ed9c283-468d-4b17-85b5-fa41671a3578.svg#3ed9c283-468d-4b17-85b5-fa41671a3578') format('svg');
// }